/* src/styles/fonts.css */
@font-face {
  font-family: 'Snowstorm';
  src: url('../assets/fonts/Snowstorm.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Snowstorm';
  src: url('../assets/fonts/Snowstorm Light.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Stengazeta';
  src: url('../assets/fonts/Stengazeta-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

